<div class="card m-3">
  <img src="<%= article.cover %>" class="card-img-top" alt="<%= article.title %>" />
  <div class="card-body">
    <h5 class="card-title"><%= article.title %></h5>
    <p class="card-text"><%= article.snippet %></p>
    <p class="card-text">
      <small class="text-muted"><%= article.author %> |
        <%= article.createdAt.toDateString().split(' ').slice(1).join(' ') %></small>
    </p>
  </div>
</div>